.nav-open-btn.active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}   
.nav-open-btn.active .line:nth-child(3) {
transform: translateY(-10px) rotate(-45deg);    
}
.nav-open-btn.active .line:nth-child(2) {
opacity: 0;
}
.line{
background-color: white;
}

.logo{
    font-family: 'Nanum Myeongjo', serif;
}
.yo{
    color: #ffa6000a;
}

.line{
    background-color: white;
    }
    
.logo{
    font-family: 'Nanum Myeongjo', serif;
}
.yo{
    color: #ffa6000a;
}
    
.options-img:hover{
    transition: 1.8s;
    background: rgb(209 213 219);
}
.options-img{
    transition: 0.8s;
}
    
.section-btn button:hover{
    transition: 0.8s;
    background: #000;
    color: #fff;
}
.cart-btn{
    transition: display 0.9s;
    cursor: pointer;
    
}
.cart-btn.active{
    transition:display 0.9s;
    display:none;

}
.soleilla{
    transition:all 0.9s;
}
/*overlay*/
.overlay-1{
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease-out ;
    visibility: hidden;
    /* display: none; */
    width: 100%;
    z-index: 0;
}
/* transition: visibility 0s, opacity 0.4s ease-out ;
    visibility: hidden; */
.overlay-1.active{
    /* display: block; */
    visibility: visible;
    opacity: 1;  
    transition: visibility 1s, opacity 0.6s ease-out;
    z-index: 9999;
}
/*overlay end*/