/* .nav-open-btn.active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}   
.nav-open-btn.active .line:nth-child(3) {
transform: translateY(-10px) rotate(-45deg);    
}
.nav-open-btn.active .line:nth-child(2) {
opacity: 0;
} */
.line{
background-color: white;
}

.logo{
    font-family: 'Nanum Myeongjo', serif;
}
.yo{
    color: #ffa6000a;
}

.options-img:hover{
    transition: 1.8s;
    background: rgb(209 213 219);
}
.options-img{
    transition: 0.8s;
}

.section-btn button:hover{
    transition: 0.8s;
    background: #000;
    color: #fff;
}