.nav-open-btn.active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}   
.nav-open-btn.active .line:nth-child(3) {
transform: translateY(-10px) rotate(-45deg);    
}
.nav-open-btn.active .line:nth-child(2) {
opacity: 0;
}
.line{
    background-color: white;
}

.logo{
    font-family: 'Nanum Myeongjo', serif;
}
.yo{
    color: #ffa6000a;
}
/* transform: translateX(100%);
transform: translateX(0%); */
/*overlay*/
.overlay-1{
    opacity: 0;
    transition: visibility 1s, opacity 0.4s ease-out ;
    visibility: hidden;
    /* display: none; */
    width: 100%;
    z-index: 0;
}
/* transition: visibility 0s, opacity 0.4s ease-out ;
    visibility: hidden; */
.overlay-1.active{
    /* display: block; */
    visibility: visible;
    opacity: 1;  
    transition: opacity 0.4s ease-out;
    z-index: 9999;
}
/*overlay end*/

#main-section button{
    background-color: #c27d2285;
    color: black;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    border: 1px solid black;
}
#main-section section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
#main-section img{
    padding: 0 30%;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    
}
#main-section section div{
    display: grid;
    place-items: center;
    gap:10px;
    text-align: center;
}

#main-section button:hover{
    transition: 0.5s;
    background-color: rgb(253 186 116);
}

.main1 button:hover{
    transition: 0.8s;
    background-color: rgb(251 146 60);
}
.options-img:hover{
    transition: 1.8s;
    background: rgb(209 213 219);
}
.options-img{
    transition: 0.8s;
}

.section-btn button:hover{
    transition: 0.8s;
    background: #000;
    color: #fff;
}

.cart-btn{
    transition: display 0.9s;
    cursor: pointer;
    
}
.cart-btn.active{
    transition:display 0.9s;
    display:none;

}
.soleilla{
    transition:all 0.9s;
}